<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
</head>

<body>
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">修改密码</h1>
              <p class="lead">在这你可以修改登录密码</p>
            </div>
          </div>
        <form action="/index/edit" method="POST">
            <div class="form-group">
                <label for="OldPassword">原密码</label>
                <input type="text" class="form-control" id="OldPassword" name = "oldpassword">
            </div>
            <div class="form-group">
                <label for="newPassword">新密码</label>
                <input type="password" class="form-control" id="newPassword" name="newPassword">
                <div class="invalid-feedback newPasswordfeedback hidden" > </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword">重复密码</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                <div class="invalid-feedback confirmPasswordfeedback hidden" > </div>
            </div>
            <button type="submit" class="btn btn-primary" id="editbtn" >修改密码</button>
        </form>
    </div>

</body>
<script src="/jquery/jquery.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
<script>
    $('#newPassword').change(function(){
        if( $('#newPassword').val() == ''){
            $('#newPassword').removeClass("is-valid");
            $('#newPassword').addClass("is-invalid");
            $('.newPasswordfeedback').text("新密码不能为空！");
            $('.newPasswordfeedback').show();
        }else{
            $('#newPassword').addClass("is-valid");
            $('#newPassword').removeClass("is-invalid");
            $('.newPasswordfeedback').hidden();
        }
    })

    $("#confirmPassword").change(function () { 
        if( $('#newPassword').val() != $("#confirmPassword").val()){
            $('#confirmPassword').removeClass("is-valid");
            $('#confirmPassword').addClass("is-invalid");
            $('.confirmPasswordfeedback').text("两次密码输入不一致");
            $('.confirmPasswordfeedback').show();
        }else{
            $('#confirmPassword').addClass("is-valid");
            $('#confirmPassword').removeClass("is-invalid");
            $('.confirmPasswordfeedback').hidden();
            $('#editbtn').removeClass('disabled');
        }
     })
</script>
</html>