<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    {{include './render.html'}}
    <!-- {{if name}}
        <a href="/login">{{name}}</a>
        <a href="/login/logout">注销登录</a>
    {{else}}
        <a href="/login">登录</a>
    {{/if}} -->
   
    <hr>
    <h1>INDEX.HTML</h1>
    <ul>
        <li><a href="/index/one">one</a></li>
        <li><a href="/index/two">two</a></li>
        <li><a href="/index/three">three</a></li>
        <li><a href="/index/four">four</a></li>
    </ul>
</body>
</html>